.container{
  width: 450px;
  margin: 0 auto;

  div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    h2{
      margin-bottom: -5px;
    }
  }

  .balance{
    display: flex;
    justify-content: space-between;

    div{
      .pay-button{
        color: black;
      }
    }
  }

  .connectWallet{
    border-style: solid;
    border-color: white;
    padding: 36px;
  }
}
